In [130]:
import numpy as np
import pandas as pd

In [131]:
df = pd.read_csv("data/Monthly_Fund_Return_Test.csv", index_col = [0])

In [132]:
mkt_all = pd.pivot_table(df, values = "RET1M", index = ["DATAYM"], columns = ["BNPNAME"], aggfunc = np.nanmean)

In [133]:
mkt_max = pd.pivot_table(df, values = "RET1M", index = ["DATAYM"], columns = ["BNPNAME"], aggfunc = np.nanmax)
mkt_min = pd.pivot_table(df, values = "RET1M", index = ["DATAYM"], columns = ["BNPNAME"], aggfunc = np.nanmin)

In [134]:
mkt_col = pd.read_csv("data/Data_preprocessoing_v4.csv", index_col = [0])

In [135]:
col_L = list(mkt_col.columns)

In [136]:
print(col_L)

['DataTime', 'Asia Bond open', 'Asia Bond high', 'Asia Bond low', 'Asia Bond close', 'Asia Bond volume', 'Asia Equity open', 'Asia Equity high', 'Asia Equity low', 'Asia Equity close', 'Asia Equity volume', 'Creat China Equity open', 'Creat China Equity high', 'Creat China Equity low', 'Creat China Equity close', 'Creat China Equity volume', 'EmgMkt Bond open', 'EmgMkt Bond high', 'EmgMkt Bond low', 'EmgMkt Bond close', 'EmgMkt Bond volume', 'EmgMkt Equity open', 'EmgMkt Equity high', 'EmgMkt Equity low', 'EmgMkt Equity close', 'EmgMkt Equity volume', 'Europe Bond open', 'Europe Bond high', 'Europe Bond low', 'Europe Bond close', 'Europe Bond volume', 'Europe Equity open', 'Europe Equity high', 'Europe Equity low', 'Europe Equity close', 'Europe Equity volume', 'Global Bond open', 'Global Bond high', 'Global Bond low', 'Global Bond close', 'Global Bond volume', 'Global Equity open', 'Global Equity high', 'Global Equity low', 'Global Equity close', 'Global Equity volume', 'HY Bond open', 'HY Bond high', 'HY Bond low', 'HY Bond close', 'HY Bond volume', 'Multi Asset open', 'Multi Asset high', 'Multi Asset low', 'Multi Asset close', 'Multi Asset volume', 'Other Bond open', 'Other Bond high', 'Other Bond low', 'Other Bond close', 'Other Bond volume', 'Other Equity open', 'Other Equity high', 'Other Equity low', 'Other Equity close', 'Other Equity volume', 'US Bond open', 'US Bond high', 'US Bond low', 'US Bond close', 'US Bond volume', 'US Equity open', 'US Equity high', 'US Equity low', 'US Equity close', 'US Equity volume']

In [137]:
pre_df = pd.DataFrame()

In [138]:
mkt_all.head()

BNPNAME,Asia Bond,Asia Equity,Creat China Equity,EmgMkt Bond,EmgMkt Equity,Europe Bond,Europe Equity,Global Bond,Global Equity,HY Bond,Multi Asset,Other Bond,Other Equity,US Bond,US Equity
DATAYM,,,,,,,,,,,,,,,
2017-01-01,0.020518,0.052243,0.053781,0.025477,0.054919,0.011268,0.022784,0.011536,0.029592,0.025057,0.027226,0.021585,0.033163,0.012795,0.026278
2017-02-01,0.015346,0.024678,0.042913,0.024114,0.027591,-0.001147,0.012820,0.010788,0.028007,0.015155,0.022205,0.015439,0.026574,0.009997,0.035013
2017-03-01,0.002768,0.022220,0.020973,0.005941,0.024563,0.005293,0.040207,0.002959,0.014106,-0.001283,0.006971,0.012361,0.002601,-0.002396,-0.000447
2017-04-01,0.002894,0.015094,0.014229,0.013288,0.020630,0.021231,0.044687,0.007888,0.018422,0.010359,0.010810,0.007498,0.010180,0.007094,0.011873
2017-05-01,0.009414,0.030104,0.026856,0.012223,0.005571,0.031501,0.040237,0.009566,0.023741,0.012167,0.016232,0.009090,0.010492,0.007774,0.009416

In [139]:
mkt_max.head()

BNPNAME,Asia Bond,Asia Equity,Creat China Equity,EmgMkt Bond,EmgMkt Equity,Europe Bond,Europe Equity,Global Bond,Global Equity,HY Bond,Multi Asset,Other Bond,Other Equity,US Bond,US Equity
DATAYM,,,,,,,,,,,,,,,
2017-01-01,0.071483,0.127518,0.121152,0.075615,0.152926,0.043792,0.076662,0.058447,0.109846,0.083434,0.084513,0.059180,0.197464,0.063681,0.104089
2017-02-01,0.047712,0.078200,0.108167,0.063731,0.090106,0.030821,0.060620,0.047149,0.085090,0.049252,0.108849,0.046480,0.104452,0.042578,0.078210
2017-03-01,0.024601,0.066313,0.078436,0.031649,0.110460,0.010575,0.129039,0.026418,0.057625,0.029400,0.033986,0.043975,0.083993,0.009667,0.030501
2017-04-01,0.023129,0.057138,0.063451,0.037690,0.059700,0.030900,0.113600,0.043044,0.064368,0.053424,0.048663,0.025475,0.110894,0.051244,0.056120
2017-05-01,0.044056,0.100900,0.077815,0.046509,0.053567,0.044000,0.068979,0.116200,0.081401,0.060400,0.055647,0.024248,0.087282,0.044366,0.078810

In [161]:
mkt_min.head()

BNPNAME,Asia Bond,Asia Equity,Creat China Equity,EmgMkt Bond,EmgMkt Equity,Europe Bond,Europe Equity,Global Bond,Global Equity,HY Bond,Multi Asset,Other Bond,Other Equity,US Bond,US Equity
DATAYM,,,,,,,,,,,,,,,
2017-01-01,-0.005300,-0.011000,-0.018077,0.000107,-0.005194,-0.018600,-0.025344,-0.010434,-0.013900,-0.010200,-0.013400,0.003300,-0.039800,-0.004202,-0.024800
2017-02-01,-0.012181,-0.025400,-0.014281,-0.005669,-0.065500,-0.014200,-0.011581,-0.017118,-0.041479,-0.011043,-0.015577,-0.007400,-0.070318,-0.012181,0.001400
2017-03-01,-0.036062,-0.059942,-0.029458,-0.048986,-0.067220,-0.007478,-0.009814,-0.039891,-0.042572,-0.045731,-0.038838,-0.037976,-0.078891,-0.039221,-0.057027
2017-04-01,-0.021661,-0.026600,-0.026909,-0.018245,-0.030934,-0.016000,-0.015121,-0.028494,-0.036693,-0.018847,-0.040500,-0.014145,-0.104225,-0.017757,-0.030934
2017-05-01,-0.005367,-0.014900,-0.032654,-0.007232,-0.067100,0.006200,-0.002173,-0.017945,-0.009412,-0.053204,-0.007304,0.002041,-0.090952,-0.005901,-0.035515

In [166]:
pre_df = pd.DataFrame()
for i in range(len(col_L)):
    
    if i == 0: ##date
        pre_df[col_L[i]] = mkt_all.index
        
    if i % 5 == 1: ##open
        pre_df[col_L[i]] = np.array(mkt_all[mkt_all.columns[ (i//5) ]])
        
    if i % 5 == 2: ##high
        pre_df[col_L[i]] = np.array(mkt_max[mkt_max.columns[ (i//5) ]])
        
    if i % 5 == 3: ##low
        pre_df[col_L[i]] = np.array(mkt_min[mkt_min.columns[ (i//5) ]])
        
    if i % 5 == 4: ##close
        pre_df[col_L[i]] = np.append( np.array( mkt_all[mkt_all.columns[ (i//5) ]][1:] ), 1)
        
    if i % 5 == 0 and (i !=0) : ##volume
        pre_df[col_L[i]] = 1

In [182]:
pre_df.head()

,DataTime,Asia Bond open,Asia Bond high,Asia Bond low,Asia Bond close,Asia Bond volume,Asia Equity open,Asia Equity high,Asia Equity low,Asia Equity close,...,US Bond open,US Bond high,US Bond low,US Bond close,US Bond volume,US Equity open,US Equity high,US Equity low,US Equity close,US Equity volume
0,2017-01-01,0.020518,0.071483,-0.005300,0.015346,1,0.052243,0.127518,-0.011000,0.024678,...,0.012795,0.063681,-0.004202,0.009997,1,0.026278,0.104089,-0.024800,0.035013,1
1,2017-02-01,0.015346,0.047712,-0.012181,0.002768,1,0.024678,0.078200,-0.025400,0.022220,...,0.009997,0.042578,-0.012181,-0.002396,1,0.035013,0.078210,0.001400,-0.000447,1
2,2017-03-01,0.002768,0.024601,-0.036062,0.002894,1,0.022220,0.066313,-0.059942,0.015094,...,-0.002396,0.009667,-0.039221,0.007094,1,-0.000447,0.030501,-0.057027,0.011873,1
3,2017-04-01,0.002894,0.023129,-0.021661,0.009414,1,0.015094,0.057138,-0.026600,0.030104,...,0.007094,0.051244,-0.017757,0.007774,1,0.011873,0.056120,-0.030934,0.009416,1
4,2017-05-01,0.009414,0.044056,-0.005367,0.003872,1,0.030104,0.100900,-0.014900,0.018598,...,0.007774,0.044366,-0.005901,0.005611,1,0.009416,0.078810,-0.035515,0.013218,1

In [168]:
pre_df.to_csv("0616_text_pre.csv")

In [169]:
## merge to obtain real value

In [171]:
total = pd.read_csv("total_HLCV.csv", index_col = [0])

In [78]:
## after

In [192]:
df = pd.read_csv("total_HLCV.csv", index_col = [0])

In [193]:
df.iloc[:,1:] = np.cumprod(df.iloc[:,1:] + 1)

In [194]:
for i in range(15):
    df[df.columns[5+5*i]] = 1

In [197]:
df.to_csv("total_after.csv")